/* 
  Mobile
  Section: basic Grid structure, layout
*/

#container {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(12, 1fr);  
  grid-template-rows:repeat(6, min-content);
  grid-gap: 1rem;
  background-color: rgb(56, 51, 49);
  color: white;
  height: 100%;
  justify-items: center;

  grid-template-areas: 
  "nv nv nv nv nv nv nv nv nv nv nv nv"
  ".  hd hd hd hd hd hd hd hd hd hd  ."  
  ".  in in in in in in in in in in  ."
  ".  pr pr pr pr pr pr pr pr pr pr  ."
  ".  ab ab ab ab ab ab ab ab ab ab  ."
  ".  cn cn cn cn cn cn cn cn cn cn  .";
  
}

.section-header {
  grid-area: hd;
  text-align: center;
  font-weight: 100;
}

.section-nav {
  /* Grid, positioning, sizing, */
  grid-area: nv;
  justify-self:stretch;
  position: sticky;
  top: 0;
  align-items: stretch;
  

  /* Flex and internal alignments */
  display: flex;
  justify-content: center;
  align-items: center;  

  background-color: rgb(51, 62, 73);
  color: rgb(245, 248, 255);  
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);

}

.section-intro {
  grid-area: in;
} 

.section-project {
  grid-area: pr;
  display: flex;
}

.section-about {
  grid-area: ab;
}

.section-contact {
  grid-area: cn;
}



h1 {
  font-size: 3rem;
  font-weight: 100;
}

h2 {
  font-weight: 100;
  line-height: 0;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.button-nav {
  
  display: block;
  
  text-align: center;
  padding: 10px 60px;
}

.list-nav {
  display: flex;
  width: 100%;
  justify-content: safe center;

  /* TODO below two lines = broken nav when viewport too narrow */
  
  flex-wrap: wrap;

  list-style-type: none; 
  margin: 0;
  padding: 0; 
}

a:link {
  text-decoration: none;
  color: white;
}

p {
  line-height: 1.5em;
}

#canvas {
  background-color: #000;
  height: 500px;
  width: 500px;
  border: 1px solid black;
  margin: 100px;
  padding: 0px;
  position: static; /* fixed or static */
  top: 100px;
  left: 100px;
  flex-grow: 1;
}