
/* 
  Margin at bottom of each section 8em
  TODO turn this into a global variable or more easily integrate
  this into JQuery somehow? Only if needed for scroll calcs
 */

 

/* 
  || Boilerplate padding/margin changes
*/

*{
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 5em;
}

/* 
  || Global Variables
*/

:root {
  --main-bg-color: rgb(24, 42, 46);
  --secondary-bg-color: rgb(72, 99, 124);
  --main-text-color: white;
  --main-link-color: white;
  --secondary-link-color: turquoise;
  --secondary-text-color: rgb(136, 189, 183);

}

/* 
  || Grid Container
*/
#body-container {
  display: grid; 
  margin: 0;
  grid-template-columns: repeat(12, 1fr);  
  grid-template-rows:repeat(6, min-content);
  grid-gap: 1rem;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  height: auto;
  width: 100%;
  /* text-align: justify; */
  justify-items: center;

  grid-template-areas: 
  "nv nv nv nv nv nv nv nv nv nv nv nv"
  ".  hd hd hd hd hd hd hd hd hd hd  ."  
  ".  in in in in in in in in in in  ."
  ".  wb wb wb wb wb wb wb wb wb wb  ."
  ".  ar ar ar ar ar ar ar ar ar ar  ."  
  ".  me me me me me me me me me me  ."
  "cn cn cn cn cn cn cn cn cn cn cn cn";  
  
}



#section-intro {
  grid-area: in;
} 

#section-web {
  grid-area: wb;
  display: flex;
  flex-direction:column;
}

#section-other {
  grid-area: ar;
  display: flex;
  flex-direction:column;
}

#section-fungibles {
  grid-area: fn;
  display: flex;
  flex-direction:column;
}

#section-me {
  grid-area: me;
  display: flex;
  flex-direction:column;
}

#section-contact {
  grid-area: cn;
  display: flex;
  flex-direction:column;
}

p {
  line-height: 1.5em;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}



body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}


.glide__slide {
  padding: 20px;
  transition: 0.5s;
}

.glide__slide:hover {
  filter: drop-shadow(0 0 0.3em var(--secondary-link-color));
}

.section { 
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40em;  
  margin-bottom: 6em; 
  font-weight: 100;

}

article {
  margin-bottom: 3em;
}



.section-art__content {
  margin-bottom: 2em;
}

.menu {
  /* Grid, positioning, sizing, */
  grid-area: nv;
  justify-self:stretch;
  position: sticky;
  top: 0;  

  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center; 
  flex-wrap: wrap;
  list-style-type: none; 

  background-color: var(--secondary-bg-color);
  /* TODO rewrite color with global var */
  color: rgb(245, 248, 255);  
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);

  z-index: 10;
  margin-bottom: 0.25em;

  

}



.button {  
  display: flex;  
  flex-direction: column;
  justify-content: space-between;  
  width: auto;
  height: auto;  
  align-items: center;
  height: 3.5em;  
  min-width: 40px;
  padding: 0em 0.4em 0em 0.4em;
  text-decoration: none !important;
  color: var(--main-link-color)
}

.button__top-spacer {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 0.3rem;  

}

.button__bottom-spacer {
  content: "";
  display: block;
  position: relative;
  align-self: center;
  bottom: 0px;
  background-color: white;
  width: 0%;
  height: 0.2em;
  transition: width 0.2s;  
  box-shadow: 0rem 0.5rem 1rem rgba(255, 255, 255, 0.726);
}

.button__bottom-spacer--active {
  width: 100% !important;
  color: pink !important;
}






.fa-brands {
  font-size: 1.5em;
}










#section-header {
  grid-area: hd;
  text-align: center;
  font-weight: 100;  
}

h3, h4 {
  color: var(--secondary-text-color);
}

h1 {
  /* margin-top: 0.2em; */
  font-size: 20vw;
  font-weight: 100;
  font-family: 'Major Mono Display', monospace;  
  /* line-height: 0.9em; */
    
}

h2 {
  font-size: 4em;
  font-weight: 100;
  font-family: 'Major Mono Display', monospace;  
  margin-bottom: 0.2em;
  /* line-height: 0; */ 
}

h3 {
  
  font-size: 5vw;
  font-weight: 100;
  font-family: 'Major Mono Display', monospace;  
  /* line-height: 0; */ 
}

h4 {
  font-size: 1em;
  font-weight: 100;
  font-family: 'Major Mono Display', monospace;  
}

.secondary-title {
  position: relative;

}

a:link {
  text-decoration: underline;
  
  color: var(--main-link-color);
  transition: 0.2s;
}

a:visited {
  text-decoration: underline;
  color: var(--main-link-color);
}

a:hover {
  color: var(--secondary-link-color);
  text-decoration-thickness: 3px;
}






h1::after {
  position: relative;
  /* bottom: 0.2em; */
  content:"_";
  animation: terminalCursorAnim 1s linear infinite;
}

@keyframes terminalCursorAnim {
  
  0% {opacity: 100%}
  1% {opacity: 100%}
  50% {opacity: 80%}
  99% {opacity: 0%}
  
}

.image-hero {
  display: block;
  width: 40%;
  height: auto;
  margin: 2em auto 2em auto; 
  transition: filter 0.5s ease-out; 
}

.image-hero:hover {
  filter: drop-shadow(0px 0px 5px rgb(255, 255, 255)); 
}

.icon-small{
  width: auto;
  height: 2em;
}


.spacer-div {
  height: 500px;
}

.row-data {
  border: 1px solid red;
}

.web-portfolio, .web-easy-scroll{
  border-left: 3px solid white;
  padding-left: 1em;
  margin-top: 1em;  
}

.web-portfolio__extended {    
  height: 0px;  
  opacity: 0;  
  font-family: inherit;
  font-weight: inherit;  
  
}

.extendable-content {
  visibility: hidden;
  height: 0px;
}


.see-more-button {
  border: 2px white solid;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0);
  color: var(--main-text-color);
  transition: background-color 0.2s;
}

.see-more-button:hover {
  background-color:rgb(95, 124, 151)
}

.section__content-heading{
  margin-top: 1em;
}



@media only screen and (min-width: 600px){
  h1 {
    font-size: 6em;    
  }

  h3 {
    font-size: 1.5em;
  }
}

ul {
  margin-left: 1.2em;
  margin-top: -0.8em;
  letter-spacing: 0.1em;
}